* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
header {
  background-color: #fefacb;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__icono {
  height: 120px;
}
.footer__icono {
  height: 140px;
}
i {
  font-size: 35px;
}
footer {
  background-color: #fefacb;
}
a {
  text-decoration: none;
  color: black;
}
.linea {
  border-bottom: 1px solid #000000;
  height: 0;
  line-height: 28px;
  margin: 0 0 15px;
  padding-bottom: 15px;
  text-align: Center;
  font-style: italic;
}
.linea-mayor {
  text-align: center;
}
a:hover {
  color: #fe8ab3;
}
.btn-principal {
  background-color: #fe8ab3;
  color: white;
  border: 1px solid black;
}
button:hover {
  color: black;
}
img.img-fluid {
  width: 100%;
}
.img-fluid.img-tienda {
  height: 80%;
}
#tienda a:hover {
  color: black;
}
