* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
header {
  background-color: #fefacb;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__icono {
  height: 120px;
}
.footer__icono {
  height: 140px;
}
i {
  font-size: 35px;
}
footer {
  background-color: #fefacb;
}
a {
  text-decoration: none;
  color: black;
}
.linea {
  border-bottom: 1px solid #000000;
  height: 0;
  line-height: 28px;
  margin: 0 0 15px;
  padding-bottom: 15px;
  text-align: Center;
  font-style: italic;
}
.linea-mayor {
  text-align: center;
}
a:hover {
  color: #fe8ab3;
}
.btn-principal {
  background-color: #fe8ab3;
  color: white;
  border: 1px solid black;
}
button:hover {
  color: black;
}

.img-fluid.img-tienda {
  height: 80%;
}
#tienda a:hover {
  color: black;
}

div.servicios1 {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: 20px;
}
div.servicios2 {
  width: 40%;
  display: flex;
  justify-content: center;
}
.bc-fefacb {
  background-color: #fefacb;
}
#servicios a:hover {
  color: black;
}
div.img-servicios img {
  width: 50%;
}
div.img-servicios {
  display: flex;
  justify-content: center;
}
#newsletter div button:hover {
  background-color: #fe8ab3;
}
#newsletter div input {
  border: 2px solid #fe8ab3;
}
#newsletter div input::placeholder {
  color: #fe8ab3;
}
.container-galeria {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 450px;
  padding: 20px;
  grid-gap: 10px;
}
.item-galeria {
  position: relative;
}
.galeria__titulo {
  position: absolute;
  bottom: 0;
  color: white;
  background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 1));
  margin: 0;
}
.galeria__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 768px) {
  .container-galeria {
    grid-template-columns: 1fr;
  }
  .sobre__nosotros {
    grid-template-columns: 1fr !important;
    grid-template-rows: 4fr 2fr !important;
  }
}

#sobreNosotros {
  display: grid;
  grid-template-columns: 4fr 2fr;
  grid-auto-rows: 450px;
  padding: 20px;
  grid-gap: 10px;
}

#sobreNosotros img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
